@charset 'utf-8';
@import './common/_public';

// 主体本分
#main {

  // banner
  .banner {
    min-height: 276px;

    img {
      width: 100%;
    }
  }

  // 公司简介
  .brief-w {
    padding-top: 93px;
    padding-bottom: 67px;

    //标题
    h3 {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 35px;
    }

    h4 {
      font-size: 21px;
      line-height: 28px;
      margin-top: 0;
      margin-bottom: 30px;
    }

    // 文本
    .content {
      color: $gray-color;
      padding-right: 30px;


      // 描述文本
      p {
        font-size: 14px;
        line-height: 2.142em;
        text-align: justify;
        text-indent: 2em;

        &:first-child {
          margin-bottom: 16px;
        }
      }
    }

    // 图片
    .c-r {
      img {
        width: 303px;
      }
    }
  }

  // 人才招聘
  .recruit-w {
    background-color: $green;

    .container {
      padding-top: 115px;
      padding-bottom: 82px;
      color: $white;

      // 标题
      h3 {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 59px;
      }

      // 文本内容
      .content {
        font-size: 16px;

        .c-l {
          p {
            line-height: 1.875em;
            text-align: justify;

            &:first-child {
              margin-bottom: 6px;
            }
          }
        }

        .c-r {
          .email-m {

            .email-t {
              line-height: 1.875em;
            }

            // email address
            a {
              display: inline-block;
              margin-top: 18px;
              margin-bottom: 16px;
              padding: 14px 14px 8px;
              background-color: $white;
              @include setBDradius(5px);
              color: $green;
              cursor: default;
              font-size: 26px;
              text-align: center;

              &:focus,
              &:hover {
                outline: 0 none;
                text-decoration: none;
              }

            }
          }
        }
      }
    }
  }

  // 招聘条件 -- 信息
  .recuitment-w {
    background-color: $white;

    .container {
      padding-top: 122px;
      padding-bottom: 50px;

      .recuitment-info {
        .info-item {

          color: $gray-color;
          font-size: 14px;
          padding-bottom: 66px;

          &:not(:last-of-type) {
            border-bottom: 1px solid #d2d2d2;
            margin-bottom: 72px;
          }

          // 修改列表前面的显示类型
          ol {
            padding-left: 0;

            li {
              list-style: decimal inside;
              text-indent: 1em;
            }
          }

          // 岗位名称
          .job-t {
            font-size: 26px;
            color: $green;
            margin-top: 0;
            margin-bottom: 40px;
          }

          // 职位描述 -- JD
          .job-dec {
            font-size: 18px;

            .dec-items {
              font-size: 14px;
              line-height: 2.5em;
            }
          }

          // 任职要求
          .requirement-w {
            line-height: 2.5em;
          }
        }
      }
    }
  }

  // 联系方式
  .contact {

    background-color: #f4f4f4;

    .container {
      padding-top: 43px;
      padding-bottom: 42px;
      color: $gray-color;

      h4 {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 39px;
      }

      // 媒体对象
      .media {
        padding: 12px 21px 21px;
        margin-bottom: 20px;
        width: 469px;
        background-color: $white;
        border: 1px solid #e3e3e3;
        @include setBDradius(5px);

        &:nth-of-type(2n) {
          margin-left: 30px;
        }

        // 左边
        .media-left {
          @include setBDradius(5px);
          background-color: #c8c8c8;
          padding: 0;

          //icon
          .media-object {
            padding: 7px 16px;
            font-size: 36px;
            color: $white;
          }
        }

        // 右边描述内容
        .media-body {
          font-size: 16px;
          color: $gray-color;
          padding-left: 10px;
        }
      }
    }
  }
}



// 底部二维码路径报错
footer .fllow li a:after {
  @include setBgc(url('../assets/images/public/footer-qr-01.png'));
}