@charset 'utf-8';
@import './common/_public';

// laya家族内的标题样式
@mixin title($c1, $c2, $bgc) {
  h4 {
    margin-top: 0;
    margin-bottom: 23px;
    font-size: 48px;
    color: $c1;

    span {
      display: inline-block;
      // padding: 10px 20px;
      width: 55px;
      height: 53px;
      margin-right: 12px;
      @include setBDradius(4px);
      background-color: $bgc;
      color: $c2;
      text-align: center;
      line-height: 53px;
    }
  }
}

// layaAir、layaOpen、layaStore、layaPublish 公用的样式

@mixin laya-A_O_S_P {

  // 标题
  @include title(#3393df, $white, #3393df);

  h4~span {
    display: block;
    margin-bottom: 36px;
    font-size: 18px;
  }

  .item,
  .item {
    h6 {
      font-size: 18px;
      color: #3393df;
      margin-top: 0;
      margin-bottom: 14px;
    }

    p {
      padding-left: 25px;
      font-size: 12px;
      line-height: 1.7em;
    }

    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }

  //右边
  .laya-publish {
    padding-left: 22px;

    span+.item {
      margin-bottom: 62px;
    }
  }

  // icon
  .icon {
    img {
      width: 141px;
    }
  }
}

// 主体部分
#main {

  // laya-flash
  .flash {
    background-color: #8bc01f;

    .container {
      padding-top: 60px;
      padding-bottom: 60px;

      // 左边内容
      .flash-l {
        padding-right: 66px;
        color: $white;

        // 标题
        @include title($white, #8bc01f, $white);

        .dec {
          padding-left: 1em;

          // 副标题
          h5 {
            margin-top: 0;
            margin-bottom: 67px;
            font-size: 24px;
          }

          // 描述段落
          p {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 2em;
            text-align: justify;
          }

          // 下载按钮
          a {
            display: inline-block;
            padding: 10px 22px;
            @include setBDradius(5px);
            background-color: #e8f2d2;
            color: #8bc01f;
            font-size: 14px;
          }

        }
      }

      // img
      .flash-r {
        width: 449px;

        img {
          width: 100%;
        }
      }
    }
  }

  // laya-player
  .laya-player {
    background-color: #3393df;

    .container {
      padding-top: 74px;
      padding-bottom: 60px;
      // 标题
      @include title($white, #3393df, $white);

      .player {
        color: $white;

        // 左边
        .player-l {
          width: 303px;

          img {
            width: 100%;
          }
        }

        // 中间
        .player-c {
          h5 {
            font-size: 24px;
          }

          p {
            font-size: 14px;
            text-align: justify;
            line-height: 2em;
          }

          .dec-01 {
            margin-bottom: 36px;
          }
        }

        //右边
        .player-r {
          padding-top: 150px;
          margin-left: 7px;
          width: 264px;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  // laya-air && laya-open
  .laya-air_open_w {
    .container {
      padding-top: 91px;
      padding-bottom: 84px;
      color: #5d5d5d;
      @include laya-A_O_S_P;
    }
  }

  // laya-store && laya-publish
  .laya-store_publish_w {
    background-color: #f7f7f7;

    .container {
      padding-top: 89px;
      padding-bottom: 82px;
      color: #5d5d5d;
      @include laya-A_O_S_P;
    }
  }
}
// 底部二维码路径报错
footer .fllow li a:after {
  @include setBgc(url('../assets/images/public/footer-qr-01.png'));
}