@media screen and (min-width: 768px) and (max-width: 992px) {
  .engine-l h2,
.engine-l h3 {
    text-align: center;
  }

  #main .layabox-product-family .container .product-item:nth-child(2n) {
    padding-left: 30px;
  }

  #main .layabox-product-family .container .product-item .media-body p {
    width: unset;
  }

  #main .layabox-product-family .container .product-item .media-body {
    padding-left: 30px;
  }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  #main .engine {
    padding-top: 50px;
    padding-bottom: 0;
  }
  #main .engine .container .engine-l h2 {
    font-size: 30px;
    text-align: center;
  }
  #main .engine .container .engine-l h3 {
    padding-bottom: 80px;
    font-size: 18px;
    text-align: center;
    line-height: 1.5em;
  }
  #main .engine .container .engine-l .engine-item {
    padding: 0;
  }
  #main .engine .container .engine-r {
    display: none;
  }
  #main .advantage {
    padding-top: 0;
  }
  #main .advantage .container .advantage-l {
    text-align: center;
  }
  #main .advantage .container .advantage-l img {
    width: 100%;
  }
  #main .advantage .container .advantage-r {
    padding-left: 0;
    padding-top: 60px;
  }
  #main .advantage .container .advantage-r h6 {
    font-size: 30px;
    text-align: center;
  }
  #main .layabox-product-family {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #main .layabox-product-family .container .family-title {
    font-size: 30px;
    text-align: center;
  }
  #main .layabox-product-family .container .product-item:not(:last-of-type) {
    margin-bottom: 40px;
  }
  #main .layabox-product-family .container .product-item:nth-child(2n) {
    padding-left: 15px;
  }
  #main .layabox-product-family .container .product-item h6 {
    font-size: 26px;
  }
  #main .layabox-product-family .container .product-item .media-body {
    padding-left: 0;
  }
  #main .layabox-product-family .container .product-item .media-body p {
    width: 100%;
  }
  #main .game .container .title {
    margin-bottom: 20px;
  }
  #main .game .container .title h5 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 20px;
    color: #0079d7;
    text-align: left;
  }
  #main .game .container .title a {
    padding: 0;
  }
  #main .game .container .game-item-wrap .left {
    padding: 0 15px;
    margin-bottom: 40px;
  }
  #main .game .container .game-item-wrap .left img {
    border-radius: 5px;
    width: 100%;
  }
  #main .game .container .game-item-wrap .right {
    width: 100%;
  }
  #main .game .container .game-item-wrap .right .game-item {
    padding: 0;
    margin-bottom: 20px;
  }
  #main .friends-link .partner {
    font-size: 24px;
    text-align: center;
  }
  #main .friends-link .link {
    margin-bottom: 10px;
  }
  #main .friends-link .link a {
    margin: 0 auto;
  }
  #main .friends-link .link a img {
    width: 100%;
  }
}
@media screen and (max-width: 766px) and (min-width: 425px) {
  #main .friends-link .link a {
    width: 200px;
  }
}

/*# sourceMappingURL=index.css.map */
