@charset 'utf-8';

// 屏幕适配
@media screen and (min-width: 1000px) {
  header .navbar-default .navbar-nav li.more {
    display: none;
  }
}



@media screen and (max-width: 1000px) {

  // header
  header .navbar-default .navbar-nav li.toggle {
    display: none;
  }

  // layabox engine
  main .engine .container .engine-r {
    padding-top: 250px;
  }
}



@media screen and (max-width: 768px) {
  header .navbar-default .navbar-nav li.more {
    display: none;
  }

  header .navbar-default .navbar-nav li.toggle {
    display: block;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {

  // footer
  footer {
    .container-fluid {

      .footer-left {
        padding: 0;
        width: 100%;
        .footer-link {
          padding: 0;
          display: flex;
          justify-content: center;
        }

        .copyright {
          padding: 0;
          text-align: center;
        }
      }

      .footer-right {
        padding: 0;
        margin:35px auto 0px;
        float: none;
        .fllow {
          display: flex;
          justify-content: space-between;
          
          li {
            a {
              margin: 0 auto;

              &:hover {
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

  }
}