@charset 'utf-8';

// 颜色
$blue: #0079d7;
$green: #8fc31f;
$gray_c: #f4f4f4;
$gray_b: #3b3b3b;
$orange: #ff6b08;

//8c8d94
//666666
//fbfaf7
//858585
//ababab
//3393df

.w_100 {
  width: 100%;
}

.wrap_1000 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}