@charset 'utf-8';

@media screen and (max-width: 992px) and (min-width: 768px) {

  #main .laya-air_open_w .container-fluid .item p,
  #main .laya-store_publish_w .container-fluid .item p {
    width: 80%;
    text-indent: 2em;
  }

  // 模块1
  #main .flash .container-fluid .flash-l .dec {
    padding-left: 0;

    p { 
      text-indent: 2em;
    }
  }
 
  #main .laya-player .container-fluid {
    padding-left: 30px;

    p {
      text-indent: 2em;
    }
  }

  // 模块2
  .text-center {
    display: none;
  }

  footer .container-fluid .footer-left .footer-link {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  footer .container-fluid .copyright {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {

  #main .flash .container-fluid,
  #main .laya-player .container-fluid,
  #main .laya-air_open_w .container-fluid,
  #main .laya-store_publish_w .container-fluid {
    padding-bottom: 30px;
    padding-top: 60px;
  }

  #main .container-fluid h4.title,
  #main .flash .container-fluid .flash-l h4 {
    font-size: 40px;
  }

  #main .flash .container-fluid .flash-l .dec h5,
  h5 {
    font-size: 20px;
  }

  p {
    text-indent: 2em;
    padding-left: 0;
  }

  // 第一个模块  flash 
  #main .flash .container-fluid .flash-l {
    padding-right: 0;


    .dec {
      padding-left: 0;
    }
  }

  // 第二个模块
  #main .laya-player .container-fluid .player .player-l {
    margin: 0 auto;
  }

  //第三个模块
  .text-center {
    display: none;
  }

  .laya-open {
    padding-top: 60px;
  }



  #main .laya-air_open_w .container-fluid .item p,
  #main .laya-air_open_w .container-fluid .item p {
    padding-left: 0;
    text-indent: 2em;
  }

  // 第五个模块

  #main .laya-store_publish_w .container-fluid .laya-publish {
    padding-top: 40px;
  }

  #main .laya-store_publish_w .container-fluid .item p {
    padding-left: 0;
  }

}