@charset 'utf-8';

@media screen and (max-width: 992px) and (min-width: 768px) {

  #main .hot-game .container .hot-item .text .title {
    text-align: left;
  }

  #main .hot-game .container .hot-item .icon {
    padding-top: 70px;
  }

  // 文本对齐方式
  #main .hot-game .container .hot-item .text .dec {
    text-align: justify;
    text-indent: 2em;
  }

  // 更多案例
  #main .more-cases .container h2 {
    font-size: 30px;
    font-weight: normal;
  }
  #main .more-cases .container .case-w .case-item {
    padding: 0 15px 0;

    &:hover {
      box-shadow: none;
    }

    p {
      display: none;
    }
    .row {
      width: 100%;
      margin: 0;
      .col-sm-6 {
        width: 100%;
        padding: 0;
        img {
          width: 100%;
        }
      }
    }
  }

  // 底部
  footer .container-fluid .footer-left .footer-link {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  footer .container-fluid .copyright {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  #main .hot-game .container {
    padding-top: 70px;
  }

  // 猎刃2
  #main .hot-game .container .hot-item .icon {
    display: none;
  }

  #main .hot-game .container .hot-item .text .dec {
    text-align: justify;
    text-indent: 2em;
  }

  // 更多案例
  #main .container h2.title {
    font-size: 24px;
    font-weight: normal;
  }

  #main .more-cases .container .case-w .case-item {
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
      box-shadow: none;
    }

    p {
      display: none;
    }
  }

  #main .more-cases {
    margin-top: 60px;
  }

  #main .more-cases .container {
    padding-bottom: 50px;
  }
}